{{template "base/base.html" .}}
{{template "base/base_common.html" .}}
{{define "meta"}}
    <title>{{i18n .Lang "app_name"}} - {{i18n .Lang "app_intro"}}</title>
    <meta name="description" content="{{i18n .Lang "app_desc"}}" />
    <meta name="keywords" content="{{i18n .Lang "app_keywords"}}">
{{end}}
{{define "body"}}
<div class="row">
    <div id="content" class="col-md-8">
        <div class="box">
            <!-- Category list -->
            <div class="cell nav-cats breadcrumb first">
                {{template "post/component/nav-cats.html" .}}
            </div>
            {{if .TopicsOfCategory}}
            <!-- Topics of Category -->
            <div class="cell nav-topics breadcrumb">
                {{template "post/component/nav-topics.html" dict "Topics" .TopicsOfCategory}}
            </div>
            {{end}}
            <!-- Post list -->
            {{if .paginator.Nums}}
                <div class="post-list">
                    {{template "post/component/posts.html" dict "root" . "Posts" .Posts}}
                </div>
                <div class="cell last">
                    {{template "base/paginator_pn.html" .}}
                </div>
            {{else}}
                <div class="cell last">
                    <div class="text-center">{{i18n .Lang "postnav.not_found_posts"}}</div>
                </div>
            {{end}}
        </div>
	</div>

    <div id="sidebar" class="col-md-4">
        {{template "post/component/sidebar.html" .}}
    </div>

</div>
{{end}}