<div class="box">
	
	<div class="cell last slim">
		{{if .IsLogin}}
			<div class="user-info">
			  <a href="{{.AppUrl}}user/{{.User.UserName}}" ><img class="middle" src="{{.User.AvatarLink48}}" style="width:48px;height:48px;"></a>
			  &nbsp;
			  <span style="font-size:15px;"><a href="{{.AppUrl}}user/{{.User.UserName}}">{{.User.NickName}}</a></span>
			 </div>
			 <div class="user-stats">
			 	<table>
			 		<tbody>
			 			<tr>
			 				<td>
			 					<a href="{{.User.Link}}/following" class="color-link-hover">
						            <strong>{{.User.Following}}</strong><br/> <span>{{i18n .Lang "user.following"}}</span>
						        </a>
			 				</td>
			 				<td>
			 					 <a href="{{.User.Link}}/followers" class="color-link-hover">
						            <strong>{{.User.Followers}}</strong> <br/><span>{{i18n .Lang "user.followers"}}</span>
						        </a>
			 				</td>
			 				<td>
			 					 <a href="{{.User.Link}}/favs" class="color-link-hover">
						            <strong>{{.User.FavTopics}}</strong> <br/><span>{{i18n .Lang "user.favourite"}}</span>
						        </a>
			 				</td>
			 			</tr>
			 		</tbody>
			 	</table>
        	</div>
		{{else}}
		<div class="cell first" style="margin-bottom:10px;">
			<p><strong>{{i18n .Lang "app_name"}}</strong></p>
			<p style="color:#888;">{{i18n .Lang "app_intro"}}</p>
		</div>
		<p style="text-align:center;">
			<a href="{{.AppUrl}}register" class="btn btn-info">{{i18n .Lang "auth.sign_register_now"}}</a>
		</p>
		<p style="text-align:center;">
			{{i18n .Lang "auth.sign_in_plz"}}&nbsp;
			<a href="{{.AppUrl}}login" style="color:#666;"><strong>{{i18n .Lang "auth.sign_in"}}</strong></a>
		</p>
		{{end}}
	</div>
</div>
{{if .IsLogin}}
<p>
    <a href="{{.AppUrl}}new" class="btn btn-success">
        <i class="icon-double-angle-right"></i>
        {{i18n .Lang "post.post_new"}}
    </a>
</p>
{{end}}
<!-- <div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.hot_topics"}}</div>
	<div class="cell last">Are you going to kill her? Just because I don't like her?</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.zero_replys"}}</div>
	<div class="cell last">How can I have millions of dollars?</div>
</div>
<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.top_dictionaries"}}</div>
	<div class="cell last">1. Who am I</div>
</div>

<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.community_stars"}}</div>
	<div class="cell last">1. Oh, yeah</div>
</div> -->
  <!-- Topic list -->
        <div class="box">
            <div class="cell breadcrumb first">
                {{i18n .Lang "postnav.list_topics"}}
            </div>
            <div class="cell nav-topics last">
                {{template "post/component/nav-topics.html" .}}
            </div>
    	</div>
<div class="box">
	<div class="cell first">{{i18n .Lang "sidebar.frined_links"}}</div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a target="_blank" href="http://golang.org">Golang 官网</a></li>
			<li><a target="_blank" href="http://studygolang.com">Golang China</a></li>
			<li><a target="_blank" href="http://golangtc.com">Golang 中国</a></li>
			<li><a target="_blank" href="http://gowalker.org">Go Walker</a></li>
			<li><a target="_blank" href="http://bbs.go-china.org">WeTalk社区</a></li>
		</ul>
	</div>
</div>