<div class="box">
	
	<div class="cell first slim">
		{{if .IsLogin}}
			<div class="user-info">
			  <a href="{{.AppUrl}}user/{{.User.UserName}}" class="avatar"><img src="{{.User.AvatarLink48}}" ></a>
			  &nbsp;
			  <span style="font-size:15px;"><a href="{{.AppUrl}}user/{{.User.UserName}}">{{.User.NickName}}</a></span>
			 </div>
			 <div class="user-stats">
			 	<table>
			 		<tbody>
			 			<tr>
			 				<td>
			 					<a href="{{.User.Link}}/following" class="color-link-hover">
						            <strong>{{.User.Following}}</strong><br/> <span>{{i18n .Lang "user.following"}}</span>
						        </a>
			 				</td>
			 				<td>
			 					 <a href="{{.User.Link}}/followers" class="color-link-hover">
						            <strong>{{.User.Followers}}</strong> <br/><span>{{i18n .Lang "user.followers"}}</span>
						        </a>
			 				</td>
			 				<td>
			 					 <a href="{{.User.Link}}/favorite/posts" class="color-link-hover">
						            <strong>{{.User.FavPosts}}</strong> <br/><span>{{i18n .Lang "user.favorite"}}</span>
						        </a>
			 				</td>
			 			</tr>
			 		</tbody>
			 	</table>
        	</div>
        	<div class="user-notice">
        		{{if .UnreadNotificationCount}}
        			<p><a href="{{.AppUrl}}notification"><strong>{{.UnreadNotificationCount}}&nbsp;{{i18n .Lang "notice.unread_notice_count"}}</strong></a></p>
        		{{else}}
        			<p><a href="{{.AppUrl}}notification">{{.UnreadNotificationCount}}&nbsp;{{i18n .Lang "notice.unread_notice_count"}}</a></p>
        		{{end}}
        	</div>
		{{else}}
		<div class="cell first" style="margin-bottom:10px;">
			<p><strong>{{i18n .Lang "app_name"}}</strong></p>
			<p style="color:#888;">{{i18n .Lang "app_intro"}}</p>
		</div>
		<p style="text-align:center;">
			<a href="{{.AppUrl}}register" class="btn btn-info">{{i18n .Lang "auth.sign_register_now"}}</a>
		</p>
		<p style="text-align:center;">
			{{i18n .Lang "auth.sign_in_plz"}}&nbsp;
			<a href="{{.AppUrl}}login" style="color:#666;"><strong>{{i18n .Lang "auth.sign_in"}}</strong></a>
		</p>
		{{end}}
	</div>
</div>
<div class="box">
	<div class="cell first"><strong>{{i18n .Lang "sidebar.new_comers_notice"}}</strong></div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a href="http://golanghome.com/post/16">关于社区的发展，请多多支持！</a></li>
			<li><a href="http://golanghome.com/post/92">大家可以自定义头像啦！</a></li>
			<li><a href="http://golanghome.com/post/122">关于申请创建新的话题的说明！</a></li>
		</ul>
	</div>
</div>
<div class="box">
	<div class="cell first"><strong>{{i18n .Lang "mobile_app"}}</strong></div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a href="http://www.wandoujia.com/app/net.duokr.goquicklearn">Go轻松学 豌豆荚下载</a></li>
			<li><a href="http://app.mi.com/detail/54217">Go轻松学 小米商店下载</a></li>
			<li><a href="https://itunes.apple.com/us/app/go-qing-song-xue/id882521751?ls=1&amp;mt=8">Go轻松学 美国AppStore</a></li>
			<li><a href="https://itunes.apple.com/cn/app/go-qing-song-xue/id882521751?l=en&amp;mt=8">Go轻松学 中国AppStore</a></li>
		</ul>
	</div>
</div>
<div class="box">
	<div class="cell first"><strong>{{i18n .Lang "open_source"}}</strong></div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a href="http://xorm.io">XORM - 简单而强大的Go语言ORM框架</li>
			<li><a href="http://beego.me">Beego - 国内最好的Go Web开发框架</li>
			<li><a href="http://gogs.io">Gogs - Go 语言编写的自助 Git 托管服务</a>
		</ul>
	</div>
</div>
<div class="box">
	<div class="cell first"><strong>{{i18n .Lang "sidebar.frined_links"}}</strong></div>
	<div class="cell last">
		<ul class="sidebar-list">
			<li><a target="_blank" href="http://golang.org">Golang 官网</a></li>
			<li><a target="_blank" href="http://studygolang.com">Golang China</a></li>
			<li><a target="_blank" href="http://golangtc.com">Golang 中国</a></li>
			<li><a target="_blank" href="http://bbs.go-china.org">WeTalk社区</a></li>
			<li><a target="_blank" href="http://gowalker.org">Go Walker</a></li>
		</ul>
	</div>
</div>