html, body {
  height: 100%;
}

body {
 
  background-image: url('http://golanghome-public.qiniudn.com/gobg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Helvetica Neue",Helvetica,"Lucida Grande","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1,"WenQuanYi Micro Hei",sans-serif;
}

embed{
  display: none;
}

label {
  cursor: pointer;
}

textarea,
textarea.form-control {
  padding: 10px;
}

#front .container {
  max-width: 1000px;
}

.navbar {
  font-size: 16px;
  padding: 0 20px;
}

.navbar .logo img {
  height: 36px;
  margin: 5px 5px 0 0;
}

#main {
  margin-top: 10px;
}

#wrapper {
  min-height: 100% !important;
  height: auto !important;
  height: 100%;
}

#content .box,
#sidebar .box {
  margin-bottom: 10px
}

/* footer */
#footer {
  margin-top: auto;
}

#footer .footer-wrap {
  padding: 20px 0;
  margin: 0 auto;
}

#footer .desc {
  color: #ababab;
}

/* box */
.box {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.box.nobg {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cell {
  padding: 10px 10px;
  border-bottom: 1px solid #efefef;
}

.cell.first {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.cell.last {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.cell.slim {
  padding-right: 25px;
  padding-left: 25px;
}

.cell.low {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* pager */

.box .pagination,
.box .pager {
  margin: 0;
}

.pager .pager-nums {
  line-height: 30px;
}

/* avatar */
.avatar img {
  border-radius: 3px;
  width: 48px;
  height: 48px;
}

.avatar a {
  text-decoration: none;
}

.avatar img.huge{
  width: 200px;
  height: 200px;
}

.avatar img.large {
  width: 64px;
  height: 64px;
}

.avatar img.middle {
  width: 32px;
  height: 32px;
}

.avatar img.small {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 14px;
  background-color: #fff;
  color: #666;
}

.breadcrumb .icon {
  font-size: 16px;
}

.breadcrumb .divider {
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
  margin: 0 5px;
}

/* btn-checked */
.btn-checked,
.btn-checked:hover,
.btn-checked:focus {
  margin-top: -3px;
  margin-right: 8px;
  color: #ccc;
}

.btn-checked.active {
  color: #000;
}

/* dropdown-menu */
.dropdown-menu > li > a:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 131, 174);
  background-image: linear-gradient(to bottom, rgb(0, 139, 184), rgb(0, 120, 159));
}
.dropdown-menu > li > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 131, 174);
  background-image: linear-gradient(to bottom, rgb(0, 139, 184), rgb(0, 120, 159));
}

/* form help block */
.help-block {
  margin-left: 5px;
}

/* form error block */
.form-group .error-block {
  z-index: -1;
  display: none;
}

.form-group.has-error .error-block,
.form-group.has-warning .error-block {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px;
  margin: 0 5px;
  color: #b94a48;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f2dede;
  border: 1px solid #c09853;
  border-top: none;
}

.form-group.has-warning .error-block {
  background-color: #EFC994;
  border: 1px solid #eea236;
  border-top: none;
}

.error-block .btn {
  margin-top: 2px;
}

h1.underline,
h2.underline,
h3.underline,
h4.underline,
h5.underline,
h6.underline {
  padding: 0 0 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.alert.alert-small {
  padding: 8px 10px;
  margin-bottom: 15px;
}

.color-checked {
  color: #02A779;
}

.color-orange {
  color: #F3813A;
}

.color-red {
  color: #F24A39;
}

a.color-link,
.color-link a,
a.color-link-hover:hover {
  color: #2892BC;
}

a.color-link:hover,
.color-link a:hover {
  color: #146B8E;
}

.btn.disabled:active,
.btn.disabled:focus,
.btn.disabled:hover,
.btn.disabled { 
  background-image: none;
  background-color: #ddd;
}

/* dropdown login */
#dropdown-login {
  width: 280px;
}

#dropdown-login .auth-socials {
  text-align: right;
  margin: 10px 0 0 0;
}

#dropdown-login .auth-socials a {
  font-size: 18px;
  margin: 0 0 0 5px;
}

#dropdown-login .auth-socials a:hover {
  color: red;
}

/* sidebar */

.sidebar-list {
  padding-left: 20px;
}

.sidebar-list li {
  margin-bottom: 5px;
}

.search-box{
  font-size: 12px;
  padding: 9px 9px 7px 27px;
  height: 30px;
  width: 200px;
  color: #666;
  vertical-align: middle;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  outline: none;
  background: #fcfcfc url(/static/img/search.png) no-repeat 7px 7px;
}

#st-results-container{
  padding: 12px;
}

.st-search-result-link{
  font-size: 15px;
  color: #1a0dab;
}
