<footer id="footer">
	<div class="container footer-wrap">
			<div class="content col-md-8">
				<p>
					<a href="/about"><strong>{{i18n .Lang "about"}}</strong></a>&nbsp;&nbsp;<a href="/faq"><strong>FAQ</strong></a>
				</p>
				<p>
					<strong>{{i18n .Lang "app_intro"}}</strong>
				</p>
				<p>
					{{i18n .Lang "copyright"}} © 2014 {{i18n .Lang "beego_community"}}&nbsp;&nbsp;&nbsp;
					<a href="http://www.miitbeian.gov.cn/" style="text-decoration:none;">沪ICP备13014075号-2</a>
				</p>
				<p class="desc">
					VERSION:&nbsp;{{.AppVer}} - {{.PageStartTime|loadtimes}}ms. 
				</p>
			</div>
			<!--
			<div class="col-md-1">
			    <div class="btn-group dropup">
				    <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown">{{i18n .Lang .Lang}} <i class="caret"></i></button>
				    <ul class="dropdown-menu">
				    	{{range .Langs}}
				    		<li><a href="javascript::" data-lang="{{.}}" class="lang-changed">{{i18n $.Lang .}}</a></li>
				    	{{end}}
				    </ul>
				    <input type="hidden" name="_once" value="{{.once_token}}" style="display:none;" />
			    </div>
			</div>-->
		</div>
	</div>
</footer>